//@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.allContainer {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  transition: ani.$leaveTransition;
}

.translate {
  transition: ani.$onTransition;
  top: calc(-138px);
}
