@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.allContainer {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.headerBottom {
  width: 100%;
  animation: headerBottom 0.8s;
}
@keyframes headerBottom {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}
