@use '/shared/color/_semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.container {
  height: 49px;
  padding: 12px 40px;
  background-color: semantic.$container-containerLow;
  border-bottom: 1px solid semantic.$outline-default;
  @media (max-width: 840px) {
    display: none !important;
  }
}
.wrapper{
  position: relative;
  max-width: 1440px;
}
.navigation {
  transition: ani.$leaveTransition;
  &:hover {
    position: relative;
    transition: ani.$onTransition;
    color: semantic.$onGeneric-onGenericPrimary !important;
    cursor: pointer;
  }
}
