@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.container {
  height: 49px;
  padding: 12px 40px;
  background-color: semantic.$container-containerLow;
  border-bottom: 1px solid semantic.$outline-default;
}
.wrapper{
  position: relative;
  max-width: 1440px;
}
.navigation {
  transition: ani.$leaveTransition;
  &:hover {
    position: relative;
    transition: ani.$onTransition;
    color: semantic.$onGeneric-onGenericPrimary;
    cursor: pointer;
  }
}
