$gray010: #FFFFFF;
$gray100: #F2F4F5;
$gray200: #E6EAED;
$gray300: #D7DCE0;
$gray400: #91999E;
$gray500: #7C848A;
$gray600: #474E52;
$gray700: #2C3236;
$gray800: #141414;

$primary100: #FEF4EE;
$primary200: #FBD9C3;
$primary300: #FACEB1;
$primary400: #F9C6A4;
$primary500: #F4985B;
$primary600: #F07727;
$primary700: #CC6724;
$primary800: #B35C22;

$red100: #FFEEEE;
$red400: #FDA6A2;
$red500: #FB5E56;
$red800: #BA261E;

$blue500: #61A5FB;
