@use './palette.module.scss' as palette;

$surface-surface: palette.$gray010;
$surface-surfaceDim: palette.$gray100;

$container-containerHighest: palette.$gray300;
$container-containerHigh: palette.$gray200;
$container-containerNormal: palette.$gray100;
$container-containerLow: palette.$gray010;

$onGeneric-onGenericVariable: palette.$gray800;
$onGeneric-onGeneric: palette.$gray700;
$onGeneric-onGenericDim: palette.$gray500;
$onGeneric-onGenericPrimary: palette.$primary600;

$primary-primaryHighest: palette.$primary800;
$primary-primaryHigh: palette.$primary700;
$primary-primaryNormal: palette.$primary600;
$primary-primaryLow: palette.$primary500;
$primary-onPrimary: palette.$gray010;
$primary-onPrimaryDim: palette.$gray200;

$primaryContainer-primaryContainerHighest: palette.$primary400;
$primaryContainer-primaryContainerHigh: palette.$primary300;
$primaryContainer-primaryContainerNormal: palette.$primary200;
$primaryContainer-primaryContainerLow: palette.$primary100;
$primaryContainer-onPrimaryContainer: palette.$primary600;
$primaryContainer-onPrimaryContainerDim: palette.$primary500;

$outline-default: palette.$gray300;
$outline-primary: palette.$primary500;
$outline-active: palette.$blue500;
$outline-error: palette.$red500;

$shadow-default: rgba(palette.$gray300, 0.24);

$error-error: palette.$red800;
$error-onError: palette.$gray010;

$errorContainer-errorContainer: palette.$red100;
$errorContainer-onErrorContainer: palette.$red800;

$layer-modalBackground: rgba(palette.$gray800, 0.64);

.surfaceSurface {
  background-color: $surface-surface;
}

.surfaceSurfaceDim {
  background-color: $surface-surfaceDim;
}

.containerContainerHighest {
  background-color: $container-containerHighest;
}

.containerContainerHigh {
  background-color: $container-containerHigh;
}

.containerContainerNormal {
  background-color: $container-containerNormal;
}

.containerContainerLow {
  background-color: $container-containerLow;
}

.onGenericOnGenericVariable {
  color: $onGeneric-onGenericVariable;
}

.onGenericOnGeneric {
  color: $onGeneric-onGeneric;
}

.onGenericOnGenericDim {
  color: $onGeneric-onGenericDim;
}

.onGenericOnGenericPrimary {
  color: $onGeneric-onGenericPrimary;
}

.primaryPrimaryHighest {
  background-color: $primary-primaryHighest;
}

.primaryPrimaryHigh {
  background-color: $primary-primaryHigh;
}

.primaryPrimaryNormal {
  background-color: $primary-primaryNormal;
}

.primaryPrimaryLow {
  background-color: $primary-primaryLow;
}

.primaryOnPrimary {
  color: $primary-onPrimary;
}

.primaryOnPrimaryDim {
  color: $primary-onPrimaryDim;
}

.primaryContainerPrimaryContainerHighest {
  background-color: $primaryContainer-primaryContainerHighest;
}

.primaryContainerPrimaryContainerHigh {
  background-color: $primaryContainer-primaryContainerHigh;
}

.primaryContainerPrimaryContainerNormal {
  background-color: $primaryContainer-primaryContainerNormal;
}

.primaryContainerPrimaryContainerLow {
  background-color: $primaryContainer-primaryContainerLow;
}

.primaryContainerOnPrimaryContainer {
  color: $primaryContainer-onPrimaryContainer;
}

.primaryContainerOnPrimaryContainerDim {
  color: $primaryContainer-onPrimaryContainerDim;
}

.outlineDefault {
  border-color: $outline-default;
  background-color: $outline-default;
}

.outlinePrimary {
  border-color: $outline-primary;
}

.outlineActive {
  border-color: $outline-active;
}

.outlineError {
  border-color: $outline-error;
}

.shadowDefault {
  box-shadow: 0 4px 6px $shadow-default;
}

.errorError {
  background-color: $error-error;
}

.errorOnError {
  color: $error-onError;
}

.errorContainerErrorContainer {
  background-color: $errorContainer-errorContainer;
}

.errorContainerOnErrorContainer {
  color: $errorContainer-onErrorContainer;
}

.layerModalBackground {
  background-color: $layer-modalBackground;
}
