@import url('/palette.module.scss');

$surface-surface: $gray010;
$surface-surfaceDim: $gray100;

$container-containerHighest: $gray300;
$container-containerHigh: $gray200;
$container-containerNormal: $gray100;
$container-containerLow: $gray010;

$onGeneric-onGenericVariable: $gray800;
$onGeneric-onGeneric: $gray700;
$onGeneric-onGenericDim: $gray500;
$onGeneric-onGenericPrimary: $primary600;

$primary-primaryHighest: $primary800;
$primary-primaryHigh: $primary700;
$primary-primaryNormal: $primary600;
$primary-primaryLow: $primary500;
$primary-onPrimary: $gray010;
$primary-onPrimaryDim: $gray200;

$primaryContainer-primaryContainerHighest: $primary400;
$primaryContainer-primaryContainerHigh: $primary300;
$primaryContainer-primaryContainerNormal: $primary200;
$primaryContainer-primaryContainerLow: $primary100;
$primaryContainer-onPrimaryContainer: $primary600;
$primaryContainer-onPrimaryContainerDim: $primary500;

$outline-default: $gray300;
$outline-primary: $primary500;
$outline-active: $blue500;
$outline-error: $red500;

$shadow-default: rgba($gray300, 0.24);

$error-error: $red800;
$error-onError: $gray010;

$errorContainer-errorContainer: $red100;
$errorContainer-onErrorContainer: $red800;

$layer-modalBackground: rgba($gray800, 0.64);
