@use '/shared/color/semanticPalette.module' as semantic;

.table {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid semantic.$outline-default;
  overflow-x: auto;
}

.table_row {
  width: auto !important;
  padding: 8px 16px;
}

.table_row_min_width {
  min-width: 240px
}

.divider {
  width: 100%;
  height: 1px;
  min-width: 726px;
  background-color: semantic.$outline-default;
}
