@use '/shared/color/_semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.modal_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;
  padding: 32px;
  border-radius: 4px;
  background-color: semantic.$container-containerLow;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding-right: 8px;
  overflow: auto;
}

.close_button {
  padding: 4px;
  border-radius: 6px;
  transition: ani.$leaveTransition;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: semantic.$container-containerHigh;
    transition: ani.$onTransition;
  }
}

.table {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid semantic.$outline-default;
  overflow-x: auto;
}

.table_row {
  //width: auto !important;
  width: 100%;
  padding: 8px 16px;
}

.table_row_min_width {
  min-width: 240px
}

.divider {
  width: 100%;
  height: 1px;
  min-width: 726px;
  background-color: semantic.$outline-default;
}
