@use '/shared/constants/animation.module' as ani;
@use '/shared/color/semanticPalette.module' as semantic;

.overflowLine1, .overflowLine2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflowLine1 {
  -webkit-line-clamp: 1;
}

.overflowLine2 {
  -webkit-line-clamp: 2;
}

.textTransision {
  transition: ani.$leaveTransition;
}

.variable {
  color: semantic.$onGeneric-onGenericVariable;
}
.generic {
  color: semantic.$onGeneric-onGeneric;
}
.dim {
  color: semantic.$onGeneric-onGenericDim;
}
.primary {
  color: semantic.$onGeneric-onGenericPrimary;
}
.onPrimary {
  color: semantic.$primary-onPrimary;
}
.onPrimaryDim {
  color: semantic.$primary-onPrimaryDim;
}
