@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.faq_item_container {
  border-radius: 8px;
  background-color: semantic.$container-containerNormal;
  padding: 16px;
  cursor: pointer;
  transition: ani.$onTransition;
  &:hover {
    scale: 1.01;
  }
}

.faq_item_contents {
  transition: ani.$onTransition;
}
