@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.addPostButton {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background-color: semantic.$primary-primaryNormal;
  transition: ani.$leaveTransition;
  &:hover {
    background-color: semantic.$primary-primaryHigh;
    transition: ani.$onTransition;
  }
}

.notificationRow {
  padding: 8px 16px;
  border-radius: 6px;
  background-color: semantic.$primaryContainer-primaryContainerLow;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$primaryContainer-primaryContainerNormal;
    cursor: pointer;
  }}
