.footerContainer {
  padding: 40px;
  max-width: 1440px;
  @media (max-width: 840px) {
    flex-direction: column !important;
    gap: 32px !important;
    padding: 20px;
  }
}

.section {
  display: flex;
  gap: 32px;
  width: 100%;
  @media (max-width: 540px) {
    flex-direction: column !important;
  }
}
