@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.premiumCardContainer {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid semantic.$outline-default;
  background-color: semantic.$container-containerLow;
  transition: ani.$leaveTransition;

  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$container-containerHigh;
    cursor: pointer;
  }
}
