@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.box {
  position: relative;
  padding: 24px;
  background: semantic.$container-containerLow;
  border-radius: 12px;
}
.bigBox {
  width: calc((100% - 24px) / 3 * 2);
}
.smallBox {
  width: calc((100% - 24px) / 3);
}

.plusButton {
  padding: 8px;
  border-radius: 8px;
  transition: ani.$leaveTransition;
  background-color: semantic.$container-containerLow;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$container-containerNormal;
  }
}

.locationChip {
  padding: 4px 8px;
  border-radius: 24px;
  background-color: semantic.$container-containerHigh;
}

.realTimeLoanContainer {
  overflow: hidden;
  width: 100%;
}

.realTimeLoanWrapper {
  transition: all 0.1s linear;
}
.test {
  transition: all 0s;
}
