@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.iconButton28, .iconButton40 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconButton28 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: none;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$container-containerHigh;
    cursor: pointer;
  }
}

.iconButton40 {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: none;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$container-containerHigh;
    cursor: pointer;
  }
}
