@use '/shared/color/semanticPalette.module' as semantic;

.allSection {
  @media(max-width: 1100px) {
    flex-direction: column !important;
    &>div {
      width: 100%;
    }
  }
}

.bigBox, .smallBox {
  padding: 24px;
  background-color: semantic.$container-containerLow;
  border-radius: 12px;
}
.bigBox {
  width: calc((100% - 24px) / 3 * 2);
}
.smallBox {
  width: calc((100% - 24px) / 3);
}


