@use '/shared/color/_semanticPalette.module' as sematic;
@use '/shared/constants/animation.module' as ani;

.containerTypeImage, .containerTypeText {
  border-radius: 12px;
  background-color: sematic.$container-containerLow;
  padding-bottom: 16px;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: sematic.$container-containerHigh;
    cursor: pointer;
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  min-height: 120px;
  border-radius: 12px;
  overflow: hidden;
  padding: 4px;
}
.imgWrapper {
  width: 100%;
  padding: 16px;
}
.imgVariableTitle {
  z-index: 3;
}

.imgCover {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: rgba(sematic.$surface-surface, 0.52);
  z-index: 2;
  border-radius: 12px;
}
.img {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: 1;
  border-radius: 12px;
  overflow: hidden;
}

.imgTitle {
  padding: 0 16px;
}


.containerTypeText {
  padding: 16px;
  border: 1px solid sematic.$outline-default;
}
