@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.grayButton44 {
  height: 44px;
  padding: 12px;
  background-color: semantic.$container-containerHigh;
  border-radius: 10px;
  border: 1px solid semantic.$outline-default;
  transition: ani.$leaveTransition;
  &:hover {
    background-color: semantic.$container-containerHighest;
    transition: ani.$onTransition;
  }
}


.primary_button44 {
  width: 100%;
  background-color: semantic.$primary-primaryNormal;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$primary-primaryHigh;
  }
}

.primary_button36 {
  width: 100%;
  background-color: semantic.$primary-primaryNormal;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$primary-primaryHigh;
  }
}
