@use '/shared/color/_semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.grayButton44, .grayButton44_fill, .grayButton36 {
  height: 44px;
  padding: 12px;
  background-color: semantic.$container-containerHigh;
  border-radius: 10px;
  border: 1px solid semantic.$outline-default;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ani.$leaveTransition;
  &:hover {
    background-color: semantic.$container-containerHighest;
    transition: ani.$onTransition;
  }
}

.grayButton44_fill {
  width: 100%;
}

.grayButton36 {
  height: 36px;
  padding: 8px;
}

.primary_button44 {
  width: 100%;
  background-color: semantic.$primary-primaryNormal;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$primary-primaryHigh;
  }
}

.primary_button36 {
  height: 36px;
  width: 100%;
  background-color: semantic.$primary-primaryNormal;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$primary-primaryHigh;
  }
}

.one_third_width {
  flex: 1;
}
.two_third_width {
  flex: 2;
}
