@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.grayButton44 {
  height: 44px;
  padding: 12px;
  background-color: semantic.$container-containerHigh;
  border-radius: 10px;
  border: 1px solid semantic.$outline-default;
  transition: ani.$leaveTransition;
  &:hover {
    background-color: semantic.$container-containerHighest;
    transition: ani.$onTransition;
  }
}
