@use '/shared/color/_semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.iconButton28, .iconButton40 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconButton28, .iconButton28Active {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: semantic.$container-containerLow;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$container-containerHigh;
    cursor: pointer;
  }
}
.iconButton28Active {
  background-color: semantic.$container-containerHigh;
}

.iconButton40 {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: semantic.$container-containerLow;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$container-containerHigh;
    cursor: pointer;
  }
}
