@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.img_desc_container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  @media (max-width: 840px) {
    flex-direction: column;
  }
}

.img_container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.add_to_cart_button, .add_to_cart_button_active {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  padding: 16px;
  background-color: semantic.$container-containerNormal;
  transition: ani.$leaveTransition;
  &:hover{
    transition: ani.$onTransition;
    background-color: semantic.$primary-primaryNormal;
    &>p, &>div{
      color: white !important;
    }
  }
}
.add_to_cart_button_active {
  transition: ani.$onTransition;
  background-color: semantic.$primary-primaryNormal;
  &>p, &>div{
    color: white !important;
  }
}
