@use '/shared/color/semanticPalette.module' as semantic;
@use '/shared/constants/animation.module' as ani;

.displaySectionContainer {
  position: relative;
  width: 100%;
  padding: 64px 40px;
  background-color: rgba(255, 255, 255, 0.64);
}
.displaySectionBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.displaySectionBackgroundBlur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(10px);
}

.displaySectionWrapper {
  width: 100%;
  max-width: 1440px;
}

.test {
  display: grid;
  width: 100%;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 1180px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 825px) {
    grid-template-columns: 1fr;
  }
}

.topAdCardContainer {
  width: 100%;
  min-width: 350px;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid semantic.$outline-default;
  background-color: semantic.$container-containerLow;

  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$container-containerHigh;
    cursor: pointer;
  }
}

.topAdCardImageContainer {
  position: relative;
  width: 100%;
  min-width: 120px;
  height: 120px;
}
.topAdCardImage {
  border-radius: 12px;
  object-fit: cover;
}

.loanQuestionButton {
  padding: 16px 32px;
  border-radius: 12px;
  cursor: pointer;
  background-color: semantic.$primary-primaryNormal;
  transition: ani.$leaveTransition;
  &:hover {
    transition: ani.$onTransition;
    background-color: semantic.$primary-primaryHigh;
  }
}
